body{ 
    background: #7da4ce;  
   background: -webkit-linear-gradient(to right, #29323c, #485563); 
   background: linear-gradient(to right, #29323c, #485563); 
   }
   
   p, h3{
     font-size:5rem;
     color:rgb(185, 182, 182);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin-top:10%;
   }